services:
#  nginx:
#    image: nginx
#    ports:
#      - "80:80"
#      - "443:443"
#    volumes:
#      - ./docker/nginx/conf:/etc/nginx/conf.d
#      - ./docker/nginx/certs:/ssl
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: rabbitmq
    ports:
      - "5672:5672"     # AMQP
      - "15672:15672"   # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    healthcheck:
      test: [ "CMD", "rabbitmq-diagnostics", "check_running" ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgres:
    image: postgres:15-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: shophub
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: redis
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"] # persistence enabled

#  migrations:
#    image: flyway/flyway:latest
#    container_name: migrations
#    depends_on:
#      - postgres
#    command: -url=jdbc:postgresql://postgres:5432/shophub -user=postgres -password=postgres -locations=filesystem:/flyway/sql migrate
#    volumes:
#      - ./services/migrations:/flyway/sql

#  user-api:
#    build:
#      context: ./services/user-service
#      dockerfile: Dockerfile
#    container_name: user-api
#    environment:
#      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/shophub
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: postgres
#      CORS_ALLOWED_ORIGINS: https://gendocnote.local
#    #      SPRING_RABBITMQ_HOST: rabbitmq
#    ports:
#      - "8081:8080"
#      - "5005:5005"
#    depends_on:
#      - postgres

  # dicomweb:
  #   build:
  #       context: ./services/dicomweb
  #       dockerfile: Dockerfile-development
  #   container_name: dicomweb
  #   environment:
  #       JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
  #       ORTHANC_URL: "http://orthanc:8042"  # Use service name instead of localhost
  #       ORTHANC_LOG: true
  #       SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/shophub
  #       SPRING_DATASOURCE_USERNAME: postgres
  #       SPRING_DATASOURCE_PASSWORD: postgres
  #   ports:
  #       - "8082:8080"
  #       - "5010:5005"
  #   depends_on:
  #     - postgres
  #   networks:
  #     - orthanc-network

#  product-service:
#    build:
#      context: ./services/product-service
#      dockerfile: Dockerfile
#    container_name: product_service
#    environment:
#      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/shophub
#      SPRING_DATASOURCE_USERNAME: postgres
#      SPRING_DATASOURCE_PASSWORD: postgres
#    #      SPRING_RABBITMQ_HOST: rabbitmq
#    ports:
#      - "8083:8080"
#      - "5006:5005"
#    depends_on:
#      - postgres
    #      - rabbitmq
    # networks:
    #   - orthanc-network

  # orthanc:
  #   image: jodogne/orthanc:latest
  #   container_name: orthanc
  #   restart: always
  #   ports:
  #     - '8042:8042' # Orthanc Web UI & REST API
  #     - '4242:4242' # DICOM Port
  #   volumes:
  #     - ./docker/orthanc-config/orthanc.json:/etc/orthanc/orthanc.json # Mount config file
  #     - ./docker/orthanc-data:/var/lib/orthanc/db # Persistent storage
  #   depends_on:
  #     - postgres
  #   networks:
  #     - orthanc-network

# networks:
#   orthanc-network:
#     driver: bridge

volumes:
  pg_data:
  redis_data:
  # postgres-data:
